.reposition, .preview img {
    position: static;
    left: 0;
    right:0;
    margin: auto;
}

.selectAndUpload, .form-group, form label, form small, .preview img {
    display: flex;
    justify-content: center;
    align-items: center;
}